<h1>Create a new post</h1>

<form action="/posts/create" method="POST" enctype="multipart/form-data">
<label for="input-content">Post content</label>
<textarea name="content" id="input-content" cols="30" rows="10"></textarea>

<label for="input-image">Image</label>
<input type="file" name="image" accept="image/png, image/jpeg">

<label for="input-image-name">Name of the image</label>
<input type="text" name="picName" id="input-image-name">

<button>Create!</button>
</form>